<div class="container-fluid mt-5">
    <div >
        <div *ngFor="let prod of productList">
        <div class="col-md-12">       
                <div class="card m-3" style="width: 18rem;">
                   <a   routerLink="/item/{{prod.id}}" ><img class="card-img-top" src="{{prod.url}}" style="width:250px; height: 200px;"  alt="Card image cap"></a> 
                    <div class="card-body">
                      <h5 class="card-title">{{prod.name}}</h5>
                      <h5 class="card-title"><span style="color: red; font-size: x-large;">₹{{prod.Price}}</span> </h5>
                      <p class="card-text">{{prod.discription}}</p>
                      <div class="quentity-group">
                        <button  class="m-2 btn btn-primary" style="width: 10%;">-</button>
                        <input  type="text" value="{{productQuentity}}" style="width: 10%; text-align: center;">
                        <button   class="m-2 btn btn-primary" style="width: 10%;">+</button>
                    </div>
                    </div>
                  </div>
                </div>
        </div>

    </div>
  
</div>